<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<!-- <link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html"> -->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="quiz-results.html">



<dom-module id="launch-quiz">
  <template>
    <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    
    paper-item {
      margin: 3px 0;
      padding: 3px 4em;
      -webkit-transition: background-color 0.5s;
      transition: background-color 0.5ss;
      line-height: 3em;
    }

    paper-item.iron-selected {
      background-color: #ddd;
    }

    paper-item::shadow #ripple {
      color: #cff4f9;
    }

    .green{
      background-color: #22bb4a;
      color: #f5f4f4;
      box-shadow: 2px 2px #ddd;
    }

    .optionsList{
      display: block;
    }
    .footer{
      /*margin-left: 49em; */
    }
    .circle, h3{
      display: inline-block;
    }
    .circle{
      margin-right: 1em;
    }
    paper-spinner-lite{
      display: block;
      margin: 10em 26em;
    }

    .footer{
      margin-top: 2em;
    }

    paper-radio-button{
      margin-left: -3em;
      --paper-radio-button-label-spacing: 2em;

    }

  </style>
  <div>
    <iron-ajax auto id="getQuestions"x`
    url="http://localhost:3000/quiz"
    handle-as="json"
    method="GET"
    on-response="handleResponse"
    loading="{{isloading}}">
  </iron-ajax>


  <template is="dom-if" if="{{isloading}}" class="spinner">
    <paper-spinner-lite active class="thin"></paper-spinner-lite>
  </template>

  <iron-pages selected="0" id="questionPages">
    <template is="dom-repeat" items="{{questions}}">
      <div>
        <div class="circle">{{serialNumber}}</div>
        <h3>{{ item.Question }}</h3>
        <paper-listbox selected="0" id="options" attr-for-selected="id">
          <paper-item class="optionsList" id="A"><paper-radio-button>{{ item.Options.A }}</paper-radio-button></paper-item>
          <paper-item class="optionsList" id="B"><paper-radio-button>{{ item.Options.B }}</paper-radio-button></paper-item>
          <paper-item class="optionsList" id="C"><paper-radio-button>{{ item.Options.C }}</paper-radio-button></paper-item>
          <paper-item class="optionsList" id="D"><paper-radio-button>{{ item.Options.D }}</paper-radio-button></paper-item>
        </paper-listbox>
      </div>
    </template>
  </iron-pages>

  <div class="padding"></div>
  <div class="footer">
    <paper-button raised disabled="[[ isFirst(serialNumber) ]]" on-click="moveToPrevQuestion">Back</paper-button>
    <paper-button raised on-click="moveToNextQuestion" hidden="[[ eq(quizLength, serialNumber) ]]">Next</paper-button>
    <paper-button raised on-click="submitQuiz" class="green" hidden="[[ !eq(quizLength, serialNumber) ]]">Submit</paper-button>
  </div>


  <template is="dom-if" if="{{showResults}}">
    <quiz-results selections="{{selections}}"></quiz-results>
  </template>

</div> 
</template>

<script>
  class LaunchQuiz extends Polymer.Element {
    static get is() { return 'launch-quiz'; }

    static get properties() {
      return {
        questions: {
          type: Object
        },
        serialNumber: {
          type: Number,
          value: 1
        },
        quizLength: {
          type: Number
        },
        isLastQuestion: {
          type: Boolean,
          value: false
        },
        isNotLastQuestion: {
          type: Boolean,
          value: true
        },
        selections: {
          type: Object,
          value: {}
        },
        showResults: {
          type: Boolean,
          value: false
        }
      };
    }

    handleResponse(event){
      this.questions = event.detail.response;
      this.quizLength = event.detail.response.length;
    }

    moveToNextQuestion(e){
      this.selections[this.questions[this.serialNumber-1].QuestionNumber] = this.shadowRoot.querySelector('.iron-selected #options').selected;
      this.shadowRoot.querySelector('#questionPages').selectNext();
      this.serialNumber++;
    }

    moveToPrevQuestion(){
        this.shadowRoot.querySelector('#questionPages').selectPrevious();
        this.serialNumber--;
      }
    

    submitQuiz(){
      this.selections[this.questions[this.serialNumber-1].QuestionNumber] = this.shadowRoot.querySelector('.iron-selected #options').selected;
      this.showResults = true;
    }

    eq(length, index){
      return length === index;
    }

    isFirst(serialNumber){
      return serialNumber === 1;
    }
  }

  window.customElements.define(LaunchQuiz.is, LaunchQuiz);
</script>
</dom-module>






