<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="shared-styles.html">
<link rel="import" href="launch-quiz.html">
<link rel="lazy-import" href="my-view404.html">



<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }

    h1{
      margin-bottom: 1em;
    }

    .card-actions a{
      text-decoration: none;
      color: #33b76f;
      font-size: 15px;
    }

    paper-card{
      max-width:  300px;
      margin: 0 1.5em 3em 0;
    }

  </style>

  <app-location
  route="{{route}}"
  url-space-regex="^[[rootPath]]">
</app-location>

<app-route
route="{{route}}"
pattern="[[rootPath]]"
data="{{routeData}}"
tail="{{subroute}}">
</app-route>

<div class="card">
  <h1>Take Online Test</h1>

  <template is="dom-if" if="{{showQuizPanel}}">
    <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
      <template is="dom-repeat" items="{{quizTopics}}">  
        <paper-card image="../images/white-{{item.topic}}.png"  alt="Emmental">
          <div class="card-content">
            <b>{{item.topic}}</b>
          </div>
          <div class="card-actions">
            <paper-button class="test" on-click="activateQuiz">Take Test</paper-button>
          </div>
        </paper-card>
      </template>
    </iron-selector>
  </template>

  <template is="dom-if" if="{{quizActive}}">
    <launch-quiz></launch-quiz>
  </template>

</div>
</template>

<script>
  class MyView2 extends Polymer.Element {
    static get is() { return 'my-view2'; }

    static get properties() {
      return {
        quizTopics: {
          type: Object,
          value() {
            return [
            {'topic': 'Java'},
            {'topic': 'Javascript'},
            {'topic': 'PHP'},
            {'topic': 'My-SQL'},
            {'topic': 'HTML 5 & CSS 3'},
            {'topic': 'Angular JS'}
            ];
          } 
        },
        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged',
        },
        routeData: Object,
        subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          quizActive: {
            type: Boolean,
            value: false
          },
          showQuizPanel: {
            type: Boolean,
            value: true
          }
        };
      }

      static get observers() {
        return [
        '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'launch';
      }

      _pageChanged(page) {
        // this.quizActive = true;
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl(page + '-quiz.html');
        console.log(resolvedPageUrl); 

        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      activateQuiz(){
        this.quizActive = true;
        this.showQuizPanel = false;
      }

    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
